extends layout
block content
	div.jumbotron
		p.lead
	p.imglg: img(src="/img/acerca_de_nosotros.jpg")br/	
	| El Salvador est&aacute; experimentando una serie de cambios favorables en su  econom&iacute;a, por consiguiente una mejor oferta de vida para la poblaci&oacute;n.  El turismo ha sido uno de los rubros que m&aacute;s ha renacido en los &uacute;ltimos  a&ntilde;os, el cual nos ha dado un nuevo rostro ante el mundo de un pa&iacute;s  luchador y triunfador. 
	p.lead
	| En relaci&oacute;n a este aspecto, tomamos la decisi&oacute;n  de aportar nuestras ideas y de esta forma colaborar con el desarrollo  tur&iacute;stico de este grandioso pa&iacute;s.
	p.lead
	| El Salvador Tur&iacute;sticos es una empresa que nace a principios del  a&ntilde;o 2010, dedic&aacute;ndose completamente a publicitar y promocionar a los  lugares tur&iacute;sticos de El Salvador y de esta manera mostrar  los lugares m&aacute;s fant&aacute;sticos que ofrece este grandioso pa&iacute;s al turista  nacional e internacional.
	p.lead
	| En este sitio encontrar&aacute;s una  gran variedad de playas, r&iacute;os, lagos, lagunas, monta&ntilde;as, volcanes y  muchos pueblos que a&uacute;n mantienen sus costumbres y tradiciones a trav&eacute;s  de los a&ntilde;os.Confiamos en Dios que es nuestro gu&iacute;a para  dar un servicio de primera calidad a todos nuestros clientes, y  esperamos que disfruten de toda la informaci&oacute;n que encontrar&aacute;n en  nuestro sitio.
	p.lead
	p.imglg: img(src="/img/nuestra_mision.gif")br/
	| Somos una empresa que se dedica a fortalecer la imagen territorial de  nuestro pa&iacute;s a trav&eacute;s de una publicidad innovadora y moderna al  sector tur&iacute;stico de El Salvador por medio de Internet, ofreciendo la  mejor gu&iacute;a para el turista que desee conocer y experimentar algo nuevo  en este pa&iacute;s, contribuyendo de esta forma a su desarrollo econ&oacute;mico y  social.
	p.lead
	p.imglg: img(src="/img/nuestra_vision.gif")br/
	| Ser la empresa l&iacute;der prestando los servicios de publicidad y promoci&oacute;n  por Internet con un alto grado de calidad y de esta manera lograr que  se incremente y se mejore la competitividad en el sector tur&iacute;stico de  El Salvador.
	p.lead
	p.imglg: img(src="/img/contacto.gif")br/
	| Tel&eacute;fonos: 7470-4158; 7927-3974
	p.lead
	| Ingenieras Teens
	p.lead
	| Directoras Ejecutivas