extends layout
block content
	div.jumbotron
		h1.muted La mejor Guia Turistica de El Salvador
		div#player
		object(type="application/x-shockwave-flash", data="/flash/bannerturismo.swf", width="600", height="500")
		p.lead
			| Nuestro país está listo para recibirte en esta temporada de vacaciones en todas las playas a lo largo del litoral salvadoreño en el Océano Pacífico, son muchas y de diferente tipo desde el occidente hasta el oriente del país.
			| Contamos con numerosos lugares para vacacionar como ríos, lagunas, lagos, parques acuáticos y por si fuera poco montañas, cerros y volcanes para todo el turista nacional e internacional.
			| ¡Conoce este grandioso país y déjanos maravillarte con todo lo que poseemos!
	h3.muted No lo imagines... Descúbrelo
