div.masthead
	p.imglg: img(src="/img/ElSalvador_Turistico.jpg", alt="Logo", ALIGN="CENTER")
	div.navbar
		div.navbar-inner
			div.container
				ul.nav
					li.active: a(href='/inicio') Inicio
					li: a(href='/mapa') Mapa Turistico
					li: a(href='/ruta') Ruta Turistica
					li: a(href='/galeria') Galeria
					li: a(href='/acerca') Acerca De